<div class="container" style="margin-top: 40px;">
    <div class="row" style="text-align: center;">
        <div class="col s6">
            <a class="item-menu"><i class="material-icons icon">directions_bike</i></a>
            <p class="texto item-menu">Entrenamiento</p>
        </div>
        <div class="col s6">
            <a class="item-menu">
                <i class="material-icons icon">directions_run</i>
            </a>
            <p class="texto item-menu">Simulacro</p>
        </div>
    </div>

    <div class="row" style="text-align: center;">
        <div class="col s6">
            <a class="item-menu">
                <i class="material-icons icon">pool</i>
            </a>
            <p class="texto item-menu">Retos</p>
        </div>
        <div class="col s6">
            <a class="item-menu">
                <i class="material-icons icon">trending_up</i>
            </a>
            <p class="texto item-menu">Resultados</p>
        </div>
    </div>
</div>