<div class="container contenedor">
    <div class="row" style="text-align: center;">
        <div class="col s6">
            <a href="#/detalle-entrenamiento" class="item-menu"><i class="material-icons icon">library_add</i></a>
            <p class="texto item-menu">Nuevo Entrenamiento</p>
        </div>
        <div class="col s6">
            <a class="item-menu">
                <i class="material-icons icon">assessment</i>
            </a>
            <p class="texto item-menu">Entrenamientos Realizados</p>
        </div>
    </div>
</div>